<h2 id="t_head" style="text-align: center;" class="p-5 "> {{title}}</h2>

<input class="px-5;" style="margin-left:17.5%;" type="text" name="search" [(ngModel)]="searchText"  placeholder="search ">
<button  style="margin-left:80%; margin-bottom:20px;" class="btn btn-primary"
(click)="show = !show"  >Add</button>


 
 <div class="container">
<form [formGroup]="registrationForm" *ngIf="show">
<div class="form-group">
  <label>username</label>
  <input formControlName="username" type="text" class="form-control">
  
<div class="form-group">
  <label>email</label>
  <input formControlName="email" type="email" class="form-control">
  </div>
</div>
<button class="btn btn-primary mb-5" on-click="addpopup();show=!show ">register</button>
<button class="btn btn-primary ml-2 mb-5" type="button"  on-click="show=!show">cancel</button>

</form>
<!-- {{registrationForm.value|json}} -->
</div>
 <div class="container">
  
  <table id="mytable" class="table table-bordered">
    <thead>
      <tr>
        <th >Name<button (click)="descending()"><i class="fa fa-caret-down"></i></button>
          <button (click)="ascending()"><i class="fa fa-caret-up"></i></button></th>
          
        <th >Email<button (click)="descendingemail()"><i class="fa fa-caret-down"></i></button>
          <button (click)="ascendingemail()"><i class="fa fa-caret-up"></i></button></th>
      </tr> 
    </thead>

    <tbody> 
      <tr *ngFor="let user of filterUsers | filter:searchText let i =index " >
        <td>
            <input type="text" [(ngModel)]="user.Name" name="name"  [disabled]="!user.edit" >


            <div *ngIf="user.Name == undefined || user.Name == '' " >name is required</div>
            <div *ngIf="isvalidname(user)" >Email is incorrect</div>
       </td>
        <td>
            <input type="email" [(ngModel)]="user.email_id" name="id"  [disabled]="!user.edit" >
            <div *ngIf="user.email_id == undefined || user.email_id == ''" >email is required</div>
            <div *ngIf="isvalidemail(user)" >Email is incorrect</div>
        </td>

        <button *ngIf="!user.edit" on-click="delete(i)">Delete</button>
        <button  (click)="edit(user)" *ngIf="!user .edit">Edit</button> 
        <button *ngIf="user.edit" (click)="save(user)">save</button>
        
      </tr>
   </tbody>
  </table>
  <button class="btn border-primary" (click)="pageprev()">Prev</button>

  <!-- <span *ngFor="let user of users ;  let i =index "><button *ngIf="i%5==0" (click)=mypagination(i) class="btn border-primary" >page{{i/5}}</button></span> -->
<span *ngFor="let user of pages ;  let i =index "><button  (click)=mypagination(i) class="btn border-primary" >{{user}}</button></span>

  <button class="btn border-primary"  (click)="pagenext()">Next  </button>


 
</div>







